spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/team3
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        # show_sql: true
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: zhdhfhd33@gmail.com #구글계정이 필요해서 신민건 것을 사용함.
    password:  #비밀번호임. 노출되면 안됨. 깃헙에 올릴 때는 지움.
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true


logging:
  level:
    org.hibernate.SQL: info #debug
    org.hibernate.type: trace
