<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 화면</title>
</head>
<body>
    <div id="container">
        <article>
<!--글 메인-->
            <a class="article">
                <div style="border:1px solid black">
                    <h1>질문글........................</h1>
                </div>
            </a>
<!--댓글-->
            <div class="comments">
            </div>

            <form action="" method="">
                <input type="text" name="text" maxlength="300" autocomplete="off" placeholder="댓글을 입력하세요." class="text">
                <input type="submit" value="입력"/>
            </form>
        </article>

        <div id="btn">
            <input type="button" value="답변 작성" onClick="location.href='answer.html'"/>
        </div>
    </div>
</body>
</html>