<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<body>
<div id="header" style="display:flex">
    <div id="sort">
        <select name="fruit">
            <option value="최신순" selected="selected">최신순</option>
            <option value="댓글">댓글많은순</option>
            <option value=""></option>
        </select>
    </div>

    <div id="search">
        <button type="button" onClick="location.href='search'"><img src="" alt="검색"/></button>
    </div>
</div>
<div id="container">
    <!--게시판을 담을 div를 만들고 그 안에 이동을 위한 article-->
    <div class="wrap_article">
        <article>
            <a></a>
        </article>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>작성자</th>
            <th>업로드 날짜</th>
        </tr>
        </thead>
<!--  //TODO : 역순 출력해야함-->
        <tbody>

        <tr th:each="writing : ${writings}">
            <td th:text="${writing.id}"></td>
            <td th:text="${writing.title}" th:href="@{/contents/{id} (id=${writing.id})}"></td>
            <td th:text="${writing.Member.nickName}"></td>
            <td th:text="${writing.createDate}">업로드 날짜</td>
            <td><a href="#" th:href="@{/contents/{id} (id=${writing.id})}">이동</a></td>
        </tr>
        </tbody>
    </table>

    <div id="write">
            <div class="btn">
                <a href="/contents/writing">
                    <button type="button">글 작성</button>
                </a>
            </div>

    </div>
</div>
</body>
</html>