<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<body>
<div id="header" style="display:flex">
    <div id="sort">
        <select name="fruit">
            <option value="최신순" selected="selected">최신순</option>
            <option value="인기순">인기순</option>
            <option value=""></option>
        </select>
    </div>

    <div id="search">
        <button type="button"><img src="" alt="돋보기"/></button>
    </div>
</div>
<div id="container">

    <div id="list">
        <div>

        </div>
        <div>

        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="writing : ${writings}">
            <td th:text="${writing.id}"></td>
            <td th:text="${writing.title}"></td>
            <td th:text="${writing.context}"></td>
        </tr>
        </tbody>
    </table>

    <div id="write">
            <div class="btn">
                <a href="contents/writing">
                    <button type="button">글 작성</button>
                </a>
            </div>
    </div>

</div>
</body>
</html>