<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/logo.css">
<script src = "/static/sidebar.js"></script>

<head>
    <meta charset="UTF-8">
    <title>검색창</title>

    <style>
    .menu {
      margin: 0em 4em 0em 0em;
      height: 2em;
      font-family: NotoSansKR;
      font-size: 1.75em;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }
    #img {
      width : 14em;
      height : 12em;
    }
    .img {
      width: 2em;
      height: 2em;
      object-fit: contain;
    }
    .title {
      width: 5em
      height: 2em;
      font-family: NotoSansKR;
      font-size: 1.5em;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }
    .btn {
      cursor:pointer;
      margin: 0em 3.5em 0em 0em;
      width: 12em;
      height: 3em;
      border-radius: 0.5em;
      border: solid 1px #a0a0a0;
      background-color: #fff;
    }
    .text {
      width: 2em;
      height: 2em;
      font-family: NotoSansKR;
      font-size: 1.25em;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #a0a0a0;
    }
    .vector-4 {
      margin: 2em 3em 1em 0em;
      width: 36.5em;
      height: 0.2em;
      background-color: #ededed;
    }
    .submit {
      margin-Bottom:3em;
      cursor:pointer;
      width: 20em;
      height: 3em;
      flex-grow: 0;
      border: 0;
      border-radius: 0.5em;
      background-color: #499e99;
    }
    .submit-text {
      width: 2em;
      height: 1em;
      flex-grow: 0;
      font-family: NotoSansKR;
      font-size: 1.5em;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
    }
    </style>
</head>
<body>
<div style="width:79em; position:relative">
    <div id="sidebar" style="display:none">
        <center>
            <img src="/static/img/logo_g.png" style="width:10em; height:1.75m; margin:2em 0em 1em 0em;">
            <div style="display:flex">
                <div class="intro">반갑습니다 황정호님!</div>
                <img src="/static/img/pro2.png" style="width:2.5em; height:2.5em; margin:0.3em 0em 0em 2em">
            </div>
            <div class="line-29"></div>
            <div class="side-box" onclick="location.href='/'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">홈</span></div>
            <div class="side-box" onclick="location.href='/search'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">검색창</span></div>
            <div class="side-box" onclick="location.href='/search_result'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">검색 결과</span></div>
            <div class="side-box" onclick="location.href='/contents'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">전체글 목록</span></div>
            <div class="side-box" onclick="location.href='/showWriting'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">특정글</span></div>
            <div class="side-box" onclick="location.href='/contents/writing'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">글쓰기</span></div>
            <div class="line-30">
                <div style="display:flex; margin: 1em 0em 0em 2.25em;">
                    <span class="side-menu" onclick="location.href='/member/login'">로그인</span>
                    <div class="vector-16"></div>
                    <span class="side-menu" onclick="location.href='/member/signup'">회원가입</span>
                </div>
            </div>
        </center>
    </div>

<div class="header" >
    <div>
        <a href="/"><img class="logo" src="/static/img/logo.png" alt="로고"></a>
    </div>
    <div class="side">
        <div style="border:1px solid black; border-top:none; border-bottom:none; margin-Right:1em; padding:0em 0.25em 0em 0.25em;">
            <span th:if="${isLogined}=='true'" th:text="${m.loginId} + '님'">계정이름</span>
            <img src="/static/img/tri.png">
        </div>
        <img src="/static/img/sidebar.png" style="width:1.5em; height:1.25em;" id="sidebtn">
    </div>
</div>

    <center>
    <div style="width:60em;">
        <div style="display:flex; align-items:center; justify-content:center; margin-Top:2em">
            <span class="menu">우리 아이 증상은 무엇일까요?<br>태그를 사용하여 빠르게 찾아보세요</span>
            <img src="/static/img/search.png" id="img"/>
        </div>

        <div id="container" style="margin-Top:2em">
    <!--클릭된 버튼 데이터를 전송해 검색결과를 불러온다-->
            <form action="/search/result" method="get">
                <div id="tag1">
                    <div style="margin:1.5em 0em 1.5em 10em; display:flex">
                        <img src="/static/img/hand.png" class="img"/>
                        <div style="margin:0em 0em 0em 0.5em;"><span class="title">손, 발</span></div>
                    </div>
                    <div id="btn1">
                        <input type="hidden" value="0" id="복통" name="복통"/>
                        <button value="복통" type="button" onclick="onChg(this)" id="b1" class="btn"><span class="text" id="t1">복통</span></button>

                        <input type="hidden" value="0" id="설사" name="설사"/>
                        <button value="설사" type="button" onclick="onChg(this)" id="b2" class="btn"><span class="text" id="t2">설사</span></button>

                        <input type="hidden" value="0" id="영양질환" name="영양질환"/>
                        <button value="영양질환" type="button" onclick="onChg(this)" id="b3" class="btn"><span class="text" id="t3">영양질환</span></button>
                    </div>
                    <div class="vector-4"></div>
                </div>
                <div id="tag2">
                    <div style="margin:1.5em 0em 1.5em 10em; display:flex">
                        <img src="/static/img/psy.png" class="img"/>
                        <div style="margin:0em 0em 0em 0.5em;"><span class="title">심리</span></div>
                    </div>
                    <div id="btn2">
                        <input type="hidden" value="0" id="비염" name="비염"/>
                        <button value="비염" type="button" onclick="onChg(this)" id="b4" class="btn"><span class="text" id="t4">비염</span></button>


                        <input type="hidden" value="0" id="폐렴" name="폐렴"/>
                        <button value="폐렴" type="button" onclick="onChg(this)" id="b5" class="btn"><span class="text" id="t5">폐렴</span></button>

                        <input type="hidden" value="0" id="천식" name="천식"/>
                        <button value="천식" type="button" onclick="onChg(this)" id="b6" class="btn"><span class="text" id="t6">천식</span></button>
                    </div>
                    <div class="vector-4"></div>
                </div>
                <div id="tag3">
                    <div style="margin:1.5em 0em 1.5em 10em; display:flex">
                        <img src="/static/img/nerve.png" class="img"/>
                        <div style="margin:0em 0em 0em 0.5em;"><span class="title">신경</span></div>
                    </div>
                    <div id="btn3">
                        <input type="hidden" value="0" id="알레르기" name="알레르기"/>
                        <button value="알레르기" type="button" onclick="onChg(this)" id="b7" class="btn"><span class="text" id="t7">알레르기</span></button>


                        <input type="hidden" value="0" id="아토피" name="아토피"/>
                        <button value="아토피" type="button" onclick="onChg(this)" id="b8" class="btn"><span class="text" id="t8">아토피</span></button>
                    </div>
                    <div class="vector-4"></div>
                </div>
                <div id="tag4">
                    <div style="margin:1.5em 0em 1.5em 10em; display:flex">
                        <img src="/static/img/eye.png" class="img"/>
                        <div style="margin:0em 0em 0em 0.5em;"><span class="title">기타</span></div>
                    </div>
                    <div id="btn4">
                        <input type="hidden" value="0" id="두통" name="두통"/>
                        <button value="두통" type="button" onclick="onChg(this)" id="b9" class="btn"><span class="text" id="t9">두통</span></button>

                        <input type="hidden" value="0" id="중이염" name="중이염"/>
                        <button value="중이염" type="button" onclick="onChg(this)" id="b10" class="btn"><span class="text" id="t10">중이염</span></button>

                        <input type="hidden" value="0" id="축농증" name="축농증"/>
                        <button value="축농증" type="button" onclick="onChg(this)" id="b11" class="btn"><span class="text" id="t11">축농증</span></button>
                    </div>
                </div>
                <br><br>
                <div id="btn">
                    <button type="submit" onclick="return result()" class="submit"><span class="submit-text">검색하기</span></button>
                </div>
            </form>
        </div>
    </div>
    </center>
    <script>
    function onChg(form) {
        if (form.value=="복통") {
            var data = document.getElementById("복통")
            var btn = document.getElementById("b1")
            var text = document.getElementById("t1")

            if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
        else if (form.value=="설사") {
            var data = document.getElementById("설사")
            var btn = document.getElementById("b2")
            var text = document.getElementById("t2")

             if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
        else if (form.value=="영양질환") {
            var data = document.getElementById("영양질환")
            var btn = document.getElementById("b3")
            var text = document.getElementById("t3")

             if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
        else if (form.value=="비염") {
            var data = document.getElementById("비염")
            var btn = document.getElementById("b4")
            var text = document.getElementById("t4")

             if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
        else if (form.value=="폐렴") {
            var data = document.getElementById("폐렴")
            var btn = document.getElementById("b5")
            var text = document.getElementById("t5")

             if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
        else if (form.value=="천식") {
            var data = document.getElementById("천식")
            var btn = document.getElementById("b6")
            var text = document.getElementById("t6")

             if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
        else if (form.value=="알레르기") {
            var data = document.getElementById("알레르기")
            var btn = document.getElementById("b7")
            var text = document.getElementById("t7")

             if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
        else if (form.value=="아토피") {
            var data = document.getElementById("아토피")
            var btn = document.getElementById("b8")
            var text = document.getElementById("t8")

             if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
        else if (form.value=="두통") {
            var data = document.getElementById("두통")
            var btn = document.getElementById("b9")
            var text = document.getElementById("t9")

             if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
        else if (form.value=="중이염") {
            var data = document.getElementById("중이염")
            var btn = document.getElementById("b10")
            var text = document.getElementById("t10")

             if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
        else {
            var data = document.getElementById("축농증")
            var btn = document.getElementById("b11")
            var text = document.getElementById("t11")

             if(data.value==0) {
                data.value = 1
                text.style.color = "#ffffff"
                btn.style.backgroundColor = "#f6d876"
                btn.style.border = "none"
            }
            else {
                data.value = 0
                text.style.color = "#a0a0a0"
                btn.style.backgroundColor = ""
                btn.style.border = "1px solid #c4c4c4";
            }
        }
    }

    function result() {
        var v1 = document.getElementById("복통")
        var v2 = document.getElementById("설사")
        var v3 = document.getElementById("영양질환")
        var v4 = document.getElementById("비염")
        var v5 = document.getElementById("폐렴")
        var v6 = document.getElementById("천식")
        var v7 = document.getElementById("알레르기")
        var v8 = document.getElementById("아토피")
        var v9 = document.getElementById("두통")
        var v10 = document.getElementById("중이염")
        var v11 = document.getElementById("축농증")

        if(v1.value==0 && v2.value==0 && v3.value==0 && v4.value==0 && v5.value==0 && v6.value==0 && v7.value==0&& v8.value==0&& v9.value==0&& v10.value==0 && v11.value==0) {
            alert("태그를 선택해 주세요.")
            return false;
        }


    }
    </script>
</div>
</body>
</html>