<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>검색창</title>
</head>
<body>
    <h1>태그를 선택하세요</h1>
    <div id="container">
<!--클릭된 버튼 데이터를 전송해 검색결과를 불러온다-->
        <form action="" method="">
            <div id="tag1">
                <h3>손, 발</h3>
                <div id="btn1">
                    <input type="button" value="손"/>
                    <input type="button" value="발"/>
                </div>
            </div>
            <div id="tag2">
                <h3>신경</h3>
                <div id="btn2">
                    <input type="button" value="신경"/>
                </div>
            </div>
            <div id="tag3">
                <h3>시각</h3>
                <div id="btn3">
                    <input type="button" value="시각"/>
                </div>
            </div>
            <br><br>
            <div id="btn">
                <input type="submit" value="입력"/>
            </div>
        </form>
    </div>
</body>
</html>