<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>해당 글 페이지</h2>
<div th:text="'title : '+${title}"></div>
<div th:text="'context : ' + ${context}"></div>

<!--<div th:each="i : ${li}">-->
<!--    <div>댓글</div>-->
<!--    <div th:text="'작성자 : ' + ${i.writing}"></div>-->
<!--    <div th:text="${i.context}"></div>-->
<!--    <div th:text="'생성시간 : '+${i.createDate}"></div>-->
<!--    <div th:text="'수정시간 : '+${i.updateDate}"></div>-->
<!--</div>-->
<div>
    <td><a href="#" th:href="@{/contents/{id}/answer (id=${writing.id})}">답변 작성</a></td>
</div>

<h3>댓글</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>답변 내용</th>
        <th>작성자</th>
        <th>업로드 날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="answer : ${answers}">
        <td th:text="${answer.id}"></td>
        <td th:text="${answer.context}"></td>
        <td th:text="${answer.nickName}"></td>
        <td th:text="${answer.createDate}"></td>
    </tr>
    </tbody>
</table>

<div>
    <a href="/contents">
        <span class="all-title">글목록</span>
        <div class="line-all"></div>
    </a>
</div>

</body>
</html>