<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script type="text/javascript" src="/minkun.js"></script>
</head>
<body>
<div id="container" class="signUp" onsubmit="return checkSubmit();">
    <form name="signUp_form" method="post" action="/member/signup">
        <div class="logo">
            <a href="/"><img src="" alt="로고"></a>
        </div>

        <div class="id_area">
            <h3>아이디</h3>
            <div style="display:flex">
                <div>
                    <input type="text" id="id" name="loginId" title="아이디 입력" maxlength="20" onblur="blurId()">
                </div>
                <div>
                    <input type="button" id ="idDuplicateCheckBtn" value="중복확인" >

                </div>
            </div>
            <div id="alert_id"></div>
        </div>

        <div class="pw_area">
            <h3>비밀번호</h3>
            <div>
                <input type="password" id="pw1" name="loginPassword" title="비밀번호 입력" maxlength="20" onblur="blurPw1()">
            </div>
            <div id="alert_pw1"></div>
            <!--재확인 name 필요여부...-->

            <h3>비밀번호 재확인</h3>
            <div>
                <input type="password" id="pw2" name="pw2" title="비밀번호 재확인 입력" maxlength="20" onblur="blurPw2()">
            </div>
            <div id="alert_pw2"></div>
        </div>

        <div class="name_area">
            <h3>이름</h3>
            <div>
                <input type="text" id="name" name="name" title="이름" maxlength="40" onblur="blurName()">
            </div>
            <div id="alert_name"></div>
        </div>

        <div class="email_area">
            <h3>Email</h3>
            <div>
                <input type="email" id="email" name="eMail" placeholder="xxx@xxxx.xxx" onblur="blurEmail()">
            </div>
            <div id="alert_email"></div>
        </div>

        <div class="team_area">
            <h3>소속</h3>
            <div class="team">
                <select id="team" name="team">
                    <option value="없음">없음</option>
                    <option value="부산대병원">부산대병원</option>
                    <option value="부산병원">부산병원</option>
                    <option value="금정병원">금정병원</option>
                </select>
            </div>
        </div>

        <div class="num_area">
            <h3>전화번호</h3>
            <div>
                <select id="phoneNumber" name="phoneNumber">
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="012">012</option>
                    <option value="013">013</option>
                </select>
                -
                <input type="text" id="first" onblur="blurNum()">
                -
                <input type="text" id="second" onblur="blurNum()">
            </div>
            <div id="alert_num"></div>
        </div>

        <div class="job_area">
            <h3>직업</h3>
            <div><!--맴버랑 맞는지 확인 필요-->
                <input type="radio" name="who" value="1" checked>일반인
                <input type="radio" name="who" value="2">의사
            </div>
        </div>


        <!--<div>
            <div>
                <h3>생년월일</h3>
            </div>
            <div> &lt;!&ndash;ㅇㄴㄹㄴㅇㄹㅇㄴㄹㅇㄴㄹㄴㅇㅁㄹㄴㅇㄹ&ndash;&gt;
                <input type="text" id="yy" placeholder="년(4자)" maxlength="4">
                <select id="mm" class="sel">
                    <option value="">월</option>
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                    <option value="06">6</option>
                    <option value="07">7</option>
                    <option value="08">8</option>
                    <option value="09">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <input type="text" id="dd" placeholder="일" maxlength="2">
            </div>
        </div>

        <div>
            <div>
                <h3>성별</h3>
            </div>
            <div>
                <select id="gender" name="gender">
                    <option value="" selected>성별</option>
                    <option value="M">남자</option>
                    <option value="F">여자</option>
                </select>
            </div>
        </div>-->


        <br>
        <div class="btn">
            <button type="submit">가입하기</button>
        </div>
    </form>
</div>

<script>
	    const form = document.signUp_form;
        var testEmail = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
        var testName = /^[가-힣]{2,4}|[a-zA-Z]{2,10}\s[a-zA-Z]{2,10}$/;
        var chkId = 0
        var chkPw = 0
        var chkName = 0
        var chkEmail = 0
        var chkNum = 0

    	function blurId() {
    		var chkId = checkId();
    		if(chkId) {
                document.getElementById("alert_id").innerText = "";
                form.id.style.border = "2px solid";
                form.id.style.borderColor = '#00F000';
            }
            else {
            	form.id.style.borderColor = '#FF0000';
                document.getElementById("alert_id").style.color = '#FF0000';
            }
    	}

    	function blurPw1() {
    		var chkPw1 = checkPw1();
    		if(chkPw1) {
                document.getElementById("alert_pw1").innerText = "";
                form.pw1.style.border = "2px solid";
                form.pw1.style.borderColor = '#00F000';
            }
            else {
            	form.pw1.style.borderColor = '#FF0000';
                document.getElementById("alert_pw1").style.color = '#FF0000';
            }
    	}

    	function blurPw2() {
    		var chkPw2 = checkPw2();
    		if(chkPw2) {
                document.getElementById("alert_pw2").innerText = "";
                form.pw2.style.border = "2px solid";
                form.pw2.style.borderColor = '#00F000';
            }
            else {
            	form.pw2.style.borderColor = '#FF0000';
                document.getElementById("alert_pw2").style.color = '#FF0000';
            }
    	}

        function blurName() {
    		var chkName = checkName();
    		if(chkName) {
                document.getElementById("alert_name").innerText = "";
                form.name.style.border = "2px solid";
                form.name.style.borderColor = '#00F000';
            }
            else {
                form.name.style.borderColor = '#FF0000';
                document.getElementById("alert_name").style.color = '#FF0000';
            }
    	}

    	function blurEmail() {
    		var chkEmail = checkEmail();
    		if(chkEmail) {
                document.getElementById("alert_email").innerText = "";
                form.email.style.border = "2px solid";
                form.email.style.borderColor = '#00F000';
            }
            else {
            	form.email.style.borderColor = '#FF0000';
                document.getElementById("alert_email").style.color = '#FF0000';
            }
    	}

    	function blurNum() {
    	    var chkNum = checkNum();
    		if(chkNum) {
                document.getElementById("alert_num").innerText = "";
            }
            else {
                document.getElementById("alert_num").style.color = '#FF0000';
            }
    	}


//////////////////////////////////////////////////////////////////////////////////////////////////


        function checkId() {
            var value =  form.id.value;
            var chk=0;
            for(var i=0; i<value.length; i++) { //숫자, 영어만 입력
                if(!((value[i]>="0"&&value[i]<="9")||(value[i]>="A"&&value[i]<="Z")||(value[i]>="a"&&value[i]<="z")))
                    chk=1;
            }
            if(chk==1) {
                document.getElementById("alert_id").innerText = "Please enter alphabet or number";
                return false;
            }

            if(value=="") {
                document.getElementById("alert_id").innerText = "Please enter ID";
                return false;
            }
            else if(value.length<6 || value.length>15) { //첫 번째 숫자 넣어야 함
                if(value[0]>="0" && value[0]<="9") {
                   document.getElementById("alert_id").innerText = "Please enter ID 6~12 characters and don't enter alphabet at first";
                   return false;
                }
                document.getElementById("alert_id").innerText = "Please enter ID 6~12 characters";
                return false;
            }
            else { //개수는 맞지만 형식 불일치
                if(value[0]>="0" && value[0]<="9") {
                   document.getElementById("alert_id").innerText = "Don't enter alphabet at first";
                   return false;
                }
            }
            chkId = 1
            return true;
        }

        function checkPw1() {
            var value =  form.pw1.value;
            var chk=0;
            for(var i=0; i<value.length; i++) { //숫자, 영어, 특정 특수 문자
                if(!((value[i]>="0"&&value[i]<="9")||(value[i]>="A"&&value[i]<="Z")||
                (value[i]>="a"&&value[i]<="z")||(value[i]=="!")||(value[i]=="@")||(value[i]=="~")))
                    chk=1;
            }
            if(chk==1) {
                document.getElementById("alert_pw1").innerText = "Please enter alphabet or number or !@#";
                return false;
            }

            if(value=="") {
                document.getElementById("alert_pw1").innerText = "Please enter PW";
                return false;
            }
            else if(value.length<6 || value.length>15) { //첫 번째 숫자 넣어야 함
                document.getElementById("alert_pw1").innerText = "Please enter ID 6~12 characters";
                return false;
            }
            chkPw = 1
            return true;
        }

        function checkPw2() {
            var value1 =  form.pw1.value;
            var value2 =  form.pw2.value;
            if(form.pw2.value=="") {
                document.getElementById("alert_pw2").innerText = "Please enter Confirm Password";
                return false;
            }
            else if(value2.length<6 || value2.length>15) {
                document.getElementById("alert_pw2").innerText = "Please enter ID 6~12 characters";
                return false;
            }
            else if(value1!=value2) {
                document.getElementById("alert_pw2").innerText = "No agreement";
                return false;
            }
            return true;
        }

        function checkName() {
            if(form.name.value=="") {
                document.getElementById("alert_name").innerText = "Please enter Name.";
                return false;
            }
            if(testName.test(form.name.value) == false) {
                document.getElementById("alert_name").innerText = "Wrong input";
                return false;
            }
            chkName = 1
            return true;
        }

        function checkEmail() {
            if(form.email.value=="") {
                document.getElementById("alert_email").innerText = "Please enter e-mail";
                return false;
            }

            if(!(testEmail.test(email.value))) {
                document.getElementById("alert_email").innerText = "Wrong input";
                return false;
            }
            chkEmail = 1
            return true;
        }

        function checkNum() {
            var f = form.first.value;
            var s = form.second.value;
            var chk=0
            for(var i=0; i<f.length; i++) {
                if(!(f[i]>="0" && f[i]<="9")) {
                    chk = 1
                }
            }
            for(var i=0; i<s.length; i++) {
                if(!(s[i]>="0" && s[i]<="9")) {
                    chk = 1
                }
            }
            if((f=="" && s=="") || !(f.length==4 && s.length==4) || chk==1) {
                document.getElementById("alert_num").innerText = "Wrong input";
                return false;
            }
            chkNum = 1;
            return true;
        }

        function checkSubmit() {
            if(chkId==1 && chkPw==1 && chkName==1 && chkEmail==1 && chkNum==1)
                return true;
            alert("입력다시")
            return false;
        }



    </script>
</body>
</html>