<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div id="container" class="signUp">
    <form name="signUp_form" action="localhost:8080/" method="">
        <div>
            <a href="/"><img src="" alt="로고"></a>
        </div>

        <!--여기는 회원가입창인데 loginId.. 이름은 상관 없긴 한데 혼동 여부 있는가-->

        <div>
            <div>
                <h3>아이디</h3>
            </div>
            <div style="display:flex">
                <div>
                    <input type="text" id="id" name="loginId" title="아이디 입력" maxlength="20" onblur="blurId()">
                </div>
                <div>
                    <input type="button" value="중복확인">
                </div>
            </div>
            <div>
                <div id="alert_id"></div>
            </div>
        </div>

        <div>
            <div>
                <h3>비밀번호</h3>
            </div>
            <div>
                <input type="password" id="pw1" name="loginPassword" title="비밀번호 입력" maxlength="20" onblur="blurPw1()">
            </div>
            <div>
                <div id="alert_pw1"></div>
            </div>
            <!--재확인 name 필요여부...-->
            <div>
                <h3>비밀번호 재확인</h3>
            </div>
            <div>
                <input type="password" id="pw2" name="pw2" title="비밀번호 재확인 입력" maxlength="20" onblur="blurPw2()">
            </div>
            <div>
                <div id="alert_pw2"></div>
            </div>
        </div>

        <div>
            <div>
                <h3>이름</h3>
            </div>
            <div>
                <input type="text" id="name" name="nickName" title="이름" maxlength="40" onblur="blurName()">
            </div>
            <div>
                <div id="alert_name"></div>
            </div>
        </div>

        <div>
            <div>
                <h3>Email</h3>
            </div>
            <div>
                <input type="email" id="email" name="eMail" placeholder="xxx@xxxx.xxx" onblur="blurEmail()">
            </div>
            <div>
                <div id="alert_email"></div>
            </div>
        </div>

        <div>
            <div>
                <h3>소속</h3>
            </div>
            <div>
                <select id="team" name="team">
                    <option value="0">없음</option>
                    <option value="1">부산대병원</option>
                    <option value="2">부산병원</option>
                    <option value="3">금정병원</option>
                </select>
            </div>
        </div>

        <div>
            <div>
                <h3>전화번호</h3>
            </div>
            <div>
                <select id="phoneNumber" name="phoneNumber">
                    <option value="0">010</option>
                    <option value="0">011</option>
                    <option value="0">012</option>
                    <option value="0">013</option>
                </select>
                -
                <input type="text" name="">
                -
                <input type="text" name="">
            </div>
        </div>

        <div>
            <div>
                <h3>직업</h3>
            </div>
            <div name="expert"><!--맴버랑 맞는지 확인 필요-->
                <input type="radio" name="who" value="1">의사
                <input type="radio" name="who" value="2">일반인
            </div>
        </div>


        <!--<div>
            <div>
                <h3>생년월일</h3>
            </div>
            <div> &lt;!&ndash;ㅇㄴㄹㄴㅇㄹㅇㄴㄹㅇㄴㄹㄴㅇㅁㄹㄴㅇㄹ&ndash;&gt;
                <input type="text" id="yy" placeholder="년(4자)" maxlength="4">
                <select id="mm" class="sel">
                    <option value="">월</option>
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                    <option value="06">6</option>
                    <option value="07">7</option>
                    <option value="08">8</option>
                    <option value="09">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <input type="text" id="dd" placeholder="일" maxlength="2">
            </div>
        </div>

        <div>
            <div>
                <h3>성별</h3>
            </div>
            <div>
                <select id="gender" name="gender">
                    <option value="" selected>성별</option>
                    <option value="M">남자</option>
                    <option value="F">여자</option>
                </select>
            </div>
        </div>-->


        <br>
        <div class="btn">
            <div>
                <button type="submit" id="btnJoin">가입하기</button>
            </div>
        </div>
    </form>
</div>

<script>
	    const form = document.signUp_form;

    	function blurName() {
    		const chkName = checkName(form);
    		if(chkName) {
                document.getElementById("alert_name").innerText = "";
                form.name.style.border = "2px solid";
                form.name.style.borderColor = '#00F000';
            }
            else {
                form.name.style.borderColor = '#FF0000';
                document.getElementById("alert_name").style.color = '#FF0000';
            }
    	}

    	function blurId() {
    		const chkId = checkId(form);
    		if(chkId) {
                document.getElementById("alert_id").innerText = "";
                form.id.style.border = "2px solid";
                form.id.style.borderColor = '#00F000';
            }
            else {
            	form.id.style.borderColor = '#FF0000';
                document.getElementById("alert_id").style.color = '#FF0000';
            }
    	}

    	function blurPw1() {
    		const chkPw1 = checkPw1(form);
    		if(chkPw1) {
                document.getElementById("alert_pw1").innerText = "";
                form.pw1.style.border = "2px solid";
                form.pw1.style.borderColor = '#00F000';
            }
            else {
            	form.pw1.style.borderColor = '#FF0000';
                document.getElementById("alert_pw1").style.color = '#FF0000';
            }
    	}

    	function blurPw2() {
    		const chkPw2 = checkPw2(form);
    		if(chkPw2) {
                document.getElementById("alert_pw2").innerText = "";
                form.pw2.style.border = "2px solid";
                form.pw2.style.borderColor = '#00F000';
            }
            else {
            	form.pw2.style.borderColor = '#FF0000';
                document.getElementById("alert_pw2").style.color = '#FF0000';
            }
    	}

    	function blurEmail() {
    		const chkEmail = checkEmail(form);
    		if(chkEmail) {
                document.getElementById("alert_email").innerText = "";
                form.email.style.border = "2px solid";
                form.email.style.borderColor = '#00F000';
            }
            else {
            	form.email.style.borderColor = '#FF0000';
                document.getElementById("alert_email").style.color = '#FF0000';
            }
    	}


//////////////////////////////////////////////////////////////////////////////////////////////////



        function checkName(form) {
            if(form.name.value=="") {
                document.getElementById("alert_name").innerText = "Please enter Name.";
                return false;
            }
            return true;
        }

        function checkId(form) {
            var value =  form.id.value;
            var chk=0;
            for(var i=0; i<value.length; i++) { //숫자, 영어만 입력
                if(!((value[i]>="0"&&value[i]<="9")||(value[i]>="A"&&value[i]<="Z")||(value[i]>="a"&&value[i]<="z")))
                    chk=1;
            }
            if(chk==1) {
                document.getElementById("alert_id").innerText = "Please enter alphabet or number";
                return false;
            }

            if(value=="") {
                document.getElementById("alert_id").innerText = "Please enter ID";
                return false;
            }
            else if(value.length<6 || value.length>15) { //첫 번째 숫자 넣어야 함
                if(value[0]>="0" && value[0]<="9") {
                   document.getElementById("alert_id").innerText = "Please enter ID 6~12 characters and don't enter alphabet at first";
                   return false;
                }
                document.getElementById("alert_id").innerText = "Please enter ID 6~12 characters";
                return false;
            }
            else { //개수는 맞지만 형식 불일치
                if(value[0]>="0" && value[0]<="9") {
                   document.getElementById("alert_id").innerText = "Don't enter alphabet at first";
                   return false;
                }
            }
            return true;
        }

        function checkPw1(form) {
            var value =  form.pw1.value;
            var chk=0;
            for(var i=0; i<value.length; i++) { //숫자, 영어, 특정 특수 문자
                if(!((value[i]>="0"&&value[i]<="9")||(value[i]>="A"&&value[i]<="Z")||
                (value[i]>="a"&&value[i]<="z")||(value[i]=="!")||(value[i]=="@")||(value[i]=="#")))
                    chk=1;
            }
            if(chk==1) {
                document.getElementById("alert_pw1").innerText = "Please enter alphabet or number or !@#";
                return false;
            }

            if(value=="") {
                document.getElementById("alert_pw1").innerText = "Please enter PW";
                return false;
            }
            else if(value.length<6 || value.length>15) { //첫 번째 숫자 넣어야 함
                document.getElementById("alert_pw1").innerText = "Please enter ID 6~12 characters";
                return false;
            }
            return true;
        }

        function checkPw2(form) {
            var value1 =  form.pw1.value;
            var value2 =  form.pw2.value;
            if(form.pw2.value=="") {
                document.getElementById("alert_pw2").innerText = "Please enter Confirm Password";
                return false;
            }
            else if(value1!=value2) {
                document.getElementById("alert_pw2").innerText = "No agreement";
                return false;
            }
            return true;
        }

        function checkEmail(form) {
            if(form.email.value=="") {
                document.getElementById("alert_email").innerText = "Please enter e-mail";
                return false;
            }
            return true;
        }
    </script>
</body>
</html>