<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/logo.css">
<script src = "/static/sidebar.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>

    <style>
    .tit {
      float:left;
      font-family: NotoSansKR;
      font-size: 1.5em;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }
    .title {
      float:left;
      width:10em;
      cursor:pointer;
      border: solid 3px #c4c4c4;
      border-radius : 1em 1em 0 0;
      background-color: #fff;
    }
    .img {
      width:1.5em;
      height:1.5em;
      object-fit: contain;
      margin-Right:1em;
      margin-Top:0.2em;
    }
    .title-content {
      font-family: NotoSansKR;
      font-size: 1.5em;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #c4c4c4;
    }
    .line-9 {
      height: 2.75px;
      transform: rotate(-360deg);
      background-color: #fc5139;
    }
    .tag {
      width:7em;
      height:2.2em;
      margin:0em 1em 0em 0em;
      float:left;
      cursor:pointer;
      background:#ffffff;
      border-radius: 1em;
      border: solid 2px #c4c4c4;
    }
    .tag-content {
      font-family: NotoSansKR;
      font-size: 1em;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #c4c4c4;
    }
    .in-title {
      padding:0em 1em 0em 1em;
      width:80%;
      height:3em;
      border: solid 2px #ededed;
      background-color: #fff;
    }
    .sub {
      border-radius:0.5em;
      cursor:pointer;
      width:10em;
      height:3.7em;
      padding:1em 3em 1em 3em;
      background-color: #14a19b;
      font-family: NotoSansKR;
      font-size: 0.75em;;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      border:none;
    }
    .in-content {
      resize:none;
      padding:1em 1em 1em 1em;
      margin-Bottom:3em;
      width:95%;
      height: 20em;
      font-family: NotoSansKR;
      font-size: 1em;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: rgba(0, 0, 0, 0.28);
    }
    </style>
</head>
<body>
<div style="width:79em; position:relative">
    <div id="sidebar" style="display:none">
        <center>
            <img src="/static/img/logo_g.png" style="width:10em; height:1.75m; margin:2em 0em 1em 0em;">
            <div style="display:flex">
                <div class="intro">반갑습니다 황정호님!</div>
                <img src="/static/img/pro2.png" style="width:2.5em; height:2.5em; margin:0.3em 0em 0em 2em">
            </div>
            <div class="line-29"></div>
            <div class="side-box" onclick="location.href='/'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">홈</span></div>
            <div class="side-box" onclick="location.href='/search'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">검색창</span></div>
            <div class="side-box" onclick="location.href='/search_result'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">검색 결과</span></div>
            <div class="side-box" onclick="location.href='/contents'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">전체글 목록</span></div>
            <div class="side-box" onclick="location.href='/showWriting'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">특정글</span></div>
            <div class="side-box" onclick="location.href='/contents/writing'"><img src="/static/img/side.png" style="float:left; width:1.25em; height:1.25em; margin-Right:1em;"><span class="side-content">글쓰기</span></div>
            <div class="line-30">
                <div style="display:flex; margin: 1em 0em 0em 2.25em;">
                    <span class="side-menu" onclick="location.href='/member/login'">로그인</span>
                    <div class="vector-16"></div>
                    <span class="side-menu" onclick="location.href='/member/signup'">회원가입</span>
                </div>
            </div>
        </center>
    </div>

<div class="header" >
    <div>
        <a href="/"><img class="logo" src="/static/img/logo.png" alt="로고"></a>
    </div>
    <div class="side">
        <div style="border:1px solid black; border-top:none; border-bottom:none; margin-Right:1em; padding:0em 0.25em 0em 0.25em;">
            <span th:if="${isLogined}=='true'" th:text="${m.loginId} + '님'">계정이름</span>
            <img src="/static/img/tri.png">
        </div>
        <img src="/static/img/sidebar.png" style="width:1.5em; height:1.25em;" id="sidebtn">
    </div>
</div>


<form th:action="@{/contents/writing/new}" th:object="${form}" method="post">
    <center>
        <div style="width:50em;">
            <div style="margin:2em 0em 0em 0em; width:50em; height:4em;">
                <span class="tit">글쓰기</span>
            </div>

<!--        글쓰기 영역-->


            <div class="btn-group" style="width:50em; height:2em; margin-Bottom:0.05em;">
                <button type="button" style="background-color:#fc5139; border-color:#fc5139 " class="title" id="btn-1" onclick="t1(this)"><img class="img" id="i1" src="/static/img/nerve_w.png"><span class="title-content" id="tc1" style="color:#ffffff">소화</span></button>
                <button type="button" class="title" id="btn-2" onclick="t2(this)"><img class="img" id="i2" src="/static/img/psy_g.png"><span class="title-content" id="tc2">기관지</span></button>
                <button type="button" class="title" id="btn-3" onclick="t3(this)"><img class="img" id="i3" src="/static/img/hand_g.png"><span class="title-content" id="tc3">피부</span></button>
                <button type="button" class="title" id="btn-4" onclick="t4(this)"><img class="img" id="i4" src="/static/img/eye_g.png"><span class="title-content" id="tc4">기타</span></button>
            </div>

            <div class="line-9" style="margin-Bottom:1em;"></div>
            <div id="title-1">
                <input type="hidden" value="0" id="복통" name="복통"/>
                <input type="hidden" value="0" id="설사" name="설사"/>
                <input type="hidden" value="0" id="영양질환" name="영양질환"/>

                <button type="button" class="tag" value="복통" onclick="onChg(this)" id="b1"><span class="tag-content" id="c1">복통</span></button>
                <button type="button" class="tag" value="설사" onclick="onChg(this)" id="b2"><span class="tag-content" id="c2">설사</span></button>
                <button type="button" class="tag" value="영양질환" onclick="onChg(this)" id="b3"><span class="tag-content" id="c3">영양질환</span></button>


            </div>
            <div id="title-2" style="display:none">
                <input type="hidden" value="0" id="비염" name="비염"/>
                <input type="hidden" value="0" id="폐렴" name="폐렴"/>
                <input type="hidden" value="0" id="천식" name="천식"/>

                <button type="button" class="tag" value="비염" onclick="onChg(this)" id="b4"><span class="tag-content" id="c4">비염</span></button>
                <button type="button" class="tag" value="폐렴" onclick="onChg(this)" id="b5"><span class="tag-content" id="c5">폐렴</span></button>
                <button type="button" class="tag" value="천식" onclick="onChg(this)" id="b6"><span class="tag-content" id="c6">천식</span></button>
            </div>
            <div id="title-3" style="display:none">
                <input type="hidden" value="0" id="알레르기" name="알레르기"/>
                <input type="hidden" value="0" id="아토피" name="아토피"/>

                <button type="button" class="tag" value="알레르기" onclick="onChg(this)" id="b7"><span class="tag-content" id="c7">알레르기</span></button>
                <button type="button" class="tag" value="아토피" onclick="onChg(this)" id="b8"><span class="tag-content" id="c8">아토피</span></button>
            </div>
            <div id="title-4" style="display:none">
                <input type="hidden" value="0" id="두통" name="두통"/>
                <input type="hidden" value="0" id="중이염" name="중이염"/>
                <input type="hidden" value="0" id="축농증" name="축농증"/>

                <button type="button" class="tag" value="두통" onclick="onChg(this)" id="b9"><span class="tag-content" id="c9">두통</span></button>
                <button type="button" class="tag" value="중이염" onclick="onChg(this)" id="b10"><span class="tag-content" id="c10">중이염</span></button>
                <button type="button" class="tag" value="축농증" onclick="onChg(this)" id="b11"><span class="tag-content" id="c11">축농증</span></button>
            </div>
            <br>
            <div class="line-9" style="margin-Top:1.5em;"></div>

            <div style="margin:1em 0em 1em 0em;">
                <input type="text" th:field="*{title}" placeholder="제목을 입력해주세요" class="in-title">
                <input type="submit" value="작성완료" class="sub">
            </div>

            <div>
                <textarea th:field="*{context}" class="in-content" placeholder="내용을 입력해주세요."></textarea>
            </div>
        </div>
    </center>
</form>


    <script>
        var btn1 = document.getElementById("btn-1");
        var btn2 = document.getElementById("btn-2");
        var btn3 = document.getElementById("btn-3");
        var btn4 = document.getElementById("btn-4");

        var title1 = document.getElementById("title-1");
        var title2 = document.getElementById("title-2");
        var title3 = document.getElementById("title-3");
        var title4 = document.getElementById("title-4");

        var tc1 = document.getElementById("tc1");
        var tc2 = document.getElementById("tc2");
        var tc3 = document.getElementById("tc3");
        var tc4 = document.getElementById("tc4");

        var i1 = document.getElementById("i1");
        var i2 = document.getElementById("i2");
        var i3 = document.getElementById("i3");
        var i4 = document.getElementById("i4");

        var line = document.getElementsByClassName("line-9");



        function t1(form) {
           btn1.style.backgroundColor = "#fc5139";
           btn2.style.backgroundColor = "#ffffff";
           btn3.style.backgroundColor = "#ffffff";
           btn4.style.backgroundColor = "#ffffff";

           title1.style.display = "block";
           title2.style.display = "none";
           title3.style.display = "none";
           title4.style.display = "none";

           tc1.style.color = "#ffffff"
           tc2.style.color = "#c4c4c4"
           tc3.style.color = "#c4c4c4"
           tc4.style.color = "#c4c4c4"

           btn1.style.borderColor = "#fc5139";
           btn2.style.borderColor = "#c4c4c4";
           btn3.style.borderColor = "#c4c4c4";
           btn4.style.borderColor = "#c4c4c4";

           i1.src = "/static/img/nerve_w.png";
           i2.src = "/static/img/psy_g.png";
           i3.src = "/static/img/hand_g.png";
           i4.src = "/static/img/eye_g.png";


           line[0].style.backgroundColor = "#fc5139"
           line[1].style.backgroundColor = "#fc5139"

        }
        function t2(form) {
           btn1.style.backgroundColor = "#ffffff";
           btn2.style.backgroundColor = "#fcd764";
           btn3.style.backgroundColor = "#ffffff";
           btn4.style.backgroundColor = "#ffffff";

           title1.style.display = "none";
           title2.style.display = "block";
           title3.style.display = "none";
           title4.style.display = "none";

           tc1.style.color = "#c4c4c4"
           tc2.style.color = "#ffffff"
           tc3.style.color = "#c4c4c4"
           tc4.style.color = "#c4c4c4"

           btn1.style.borderColor = "#c4c4c4";
           btn2.style.borderColor = "#fcd764";
           btn3.style.borderColor = "#c4c4c4";
           btn4.style.borderColor = "#c4c4c4";

           i1.src = "/static/img/nerve_g.png";
           i2.src = "/static/img/psy_w.png";
           i3.src = "/static/img/hand_g.png";
           i4.src = "/static/img/eye_g.png";

          line[0].style.backgroundColor = "#fcd764"
          line[1].style.backgroundColor = "#fcd764"

        }
        function t3(form) {
           btn1.style.backgroundColor = "#ffffff";
           btn2.style.backgroundColor = "#ffffff";
           btn3.style.backgroundColor = "#14a19b";
           btn4.style.backgroundColor = "#ffffff";

           title1.style.display = "none";
           title2.style.display = "none";
           title3.style.display = "block";
           title4.style.display = "none";

           tc1.style.color = "#c4c4c4"
           tc2.style.color = "#c4c4c4"
           tc3.style.color = "#ffffff"
           tc4.style.color = "#c4c4c4"

           btn1.style.borderColor = "#c4c4c4";
           btn2.style.borderColor = "#c4c4c4";
           btn3.style.borderColor = "#14a19b";
           btn4.style.borderColor = "#c4c4c4";

           i1.src = "/static/img/nerve_g.png";
           i2.src = "/static/img/psy_g.png";
           i3.src = "/static/img/hand_w.png";
           i4.src = "/static/img/eye_g.png";

           line[0].style.backgroundColor = "#14a19b"
           line[1].style.backgroundColor = "#14a19b"

        }
        function t4(form) {
           btn1.style.backgroundColor = "#ffffff";
           btn2.style.backgroundColor = "#ffffff";
           btn3.style.backgroundColor = "#ffffff";
           btn4.style.backgroundColor = "#7492ff";

           title1.style.display = "none";
           title2.style.display = "none";
           title3.style.display = "none";
           title4.style.display = "block";

           tc1.style.color = "#c4c4c4"
           tc2.style.color = "#c4c4c4"
           tc3.style.color = "#c4c4c4"
           tc4.style.color = "#ffffff"

           btn1.style.borderColor = "#c4c4c4";
           btn2.style.borderColor = "#c4c4c4";
           btn3.style.borderColor = "#c4c4c4";
           btn4.style.borderColor = "#7492ff";

           i1.src = "/static/img/nerve_g.png";
           i2.src = "/static/img/psy_g.png";
           i3.src = "/static/img/hand_g.png";
           i4.src = "/static/img/eye_w.png";

           line[0].style.backgroundColor = "#7492ff"
           line[1].style.backgroundColor = "#7492ff"
        }


        function onChg(form) {
        if (form.value=="복통") {
            var data = document.getElementById("복통")
            var btn = document.getElementById("b1")
            var c = document.getElementById("c1");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
        else if (form.value=="설사") {
            var data = document.getElementById("설사")
            var btn = document.getElementById("b2")
            var c = document.getElementById("c2");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
        else if (form.value=="영양질환") {
            var data = document.getElementById("영양질환")
            var btn = document.getElementById("b3")
            var c = document.getElementById("c3");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
        else if (form.value=="비염") {
            var data = document.getElementById("비염")
            var btn = document.getElementById("b4")
            var c = document.getElementById("c4");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
        else if (form.value=="폐렴") {
            var data = document.getElementById("폐렴")
            var btn = document.getElementById("b5")
            var c = document.getElementById("c5");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
        else if (form.value=="천식") {
            var data = document.getElementById("천식")
            var btn = document.getElementById("b6")
            var c = document.getElementById("c6");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
        else if (form.value=="알레르기") {
            var data = document.getElementById("알레르기")
            var btn = document.getElementById("b7")
            var c = document.getElementById("c7");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
        else if (form.value=="아토피") {
            var data = document.getElementById("아토피")
            var btn = document.getElementById("b8")
            var c = document.getElementById("c8");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
        else if (form.value=="두통") {
            var data = document.getElementById("두통")
            var btn = document.getElementById("b9")
            var c = document.getElementById("c9");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
        else if (form.value=="중이염") {
            var data = document.getElementById("중이염")
            var btn = document.getElementById("b10")
            var c = document.getElementById("c10");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
        else {
            var data = document.getElementById("축농증")
            var btn = document.getElementById("b11")
            var c = document.getElementById("c11");

            if(data.value==0) {
                data.value = 1
                btn.style.backgroundColor = "#f6d876"
                btn.style.borderColor = "#f6d876"
                c.style.color = "#ffffff"
            }
            else {
                data.value = 0
                btn.style.backgroundColor = ""
                btn.style.borderColor = "#c4c4c4"
                c.style.color = "#c4c4c4"
            }
        }
    }

    function result() {
        var v1 = document.getElementById("복통")
        var v2 = document.getElementById("설사")
        var v3 = document.getElementById("영양질환")
        var v4 = document.getElementById("비염")
        var v5 = document.getElementById("폐렴")
        var v6 = document.getElementById("천식")
        var v7 = document.getElementById("알레르기")
        var v8 = document.getElementById("아토피")
        var v9 = document.getElementById("두통")
        var v10 = document.getElementById("중이염")
        var v11 = document.getElementById("축농증")


    }

    </script>
</div>
</body>
</html>