<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
</head>
<body>
    <div id="container">
        <div id="write_area">
            <form action="" method="">
                <div id="title">
                    <textarea name="title" id="title_" rows="1" cols="55" placeholder="제목" maxlength="100" required></textarea>
                </div>
                <div id="tag">
                </div>
                <div id="content">
                    <textarea name="content" id="content_" placeholder="내용" required></textarea>
                </div>
                <input type="file" name="SelectFile" />
                <div class="btn">
                    <button type="submit">글 작성</button>
                </div>
            </form>
        </div>

    </div>
</body>
</html>